.cardItem{
    margin: 20px;
    padding: 0px;
    
    
}
p {
    margin: 0px;
    padding: 0px;
    
}
.list p{
    padding: 10px;
    position: relative;
    
    max-width: 400px;
    text-align: left;
}

.list p span {
    position: absolute;
    right: -0px;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
}
